{% extends 'base.html' %}



{% block content %}
<div class="container">

    <!-- header section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the future of car collecting together!</h2>
            <h5>Create an amazing API tool for car collecting developers.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <!-- Header Image -->
            <img src="../../static/images/undraw_off_road_9oae.png" alt="hero header image" class="header-image">
        </div>
    </header>
    <!-- end of header section -->

    <!-- start middle section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection!</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>

</div>

{% endblock content %}